<% if current_user.has_role?(:owner) || current_user.has_role?(:admin) %>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-2">
    <%= link_to new_product_path do %>
      <button class="btn btn-outline-dark btn-sm" type="button">Add more products</button>
    <% end %>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xl-9 col-lg-10 mx-auto">
      <h1><%= current_user.has_role?(:normaluser) ? "Bought Products" : "Listed Products" %></h1>
      
      <table class="mx-auto">
        <thead>
          <tr>
            <th>Owner</th>
            <th>Product</th>
            <th>Description</th>
            <th>Unit price</th>
            <th><%= current_user.has_role?(:normaluser) ? "Buy Again" : "Available Stock" %></th>
          </tr>
        </thead>
      
        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td><%= product.user.name %></td>
              <td><%= link_to product.title, product %></td>
              <td><%= product.description %></td>
              <td><%= number_to_currency(product.unit_price, strip_insignificant_zeros: true, delimiter: ".") %></td>
              <td>
                <% if current_user.has_role?(:normaluser) %>
                  <% if product.stock > 0  %>
                    <%= form_for :cart, url: cart_path, method: :put do |f| %>
                      <%= f.hidden_field :product_id, value: product.id %>
                      <%= f.hidden_field :quantity, value: 1 %>
                      <%= f.submit "Add to cart", class: "btn btn-outline-dark mt-auto btn-sm" %>
                    <% end %>
                  <% else %>
                    <%= button_tag "Out of Stock", disabled: true, class: "btn btn-outline-dark mt-auto btn-sm"%>
                  <% end %>
                <% else %>
                  <%= product.stock %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>