<h1>Available products</h1>

<table>
  <thead>
    <tr>
      <th>Owner</th>
      <th>Product</th>
      <th>Description</th>
      <th>Available Stock</th>
      <th>Unit price</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.user.name %></td>
        <td><%= link_to product.title, product %></td>
        <td><%= product.description %></td>
        <td><%= product.stock %></td>
        <td><%= number_to_currency(product.unit_price, strip_insignificant_zeros: true, delimiter: ".") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "Add more products", new_product_path %>
<br>
<%= link_to "Return to Dashboard", root_path %>
<br>
