<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
       <%= link_to 'Bandsells', root_path, class: "navbar-brand"  %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
                <%= link_to 'Goods & Merch', products_path, class: "nav-link" %>
            </li>
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to 'Orders', orders_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Edit profile', edit_user_registration_path, class: "nav-link" %> 
              </li>
              <li class="nav-item">
               <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <span class="nav-link disabled"> Logged in as <strong><%= current_user.name %></strong></span>
              </li>
             <% else %>
              <li class="nav-item">
                <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Login", new_user_session_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="d-flex">
          <%= link_to cart_path, class:"nav-item" do %>
            <button type="button" class="btn btn-primary position-relative">
              <span><i class="fa fa-shopping-cart"></i></span>
              Cart
              <% if user_signed_in? && existing_order.present? %>
                <% unless existing_order.quantity == 0  %>
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">                  
                    <%= existing_order.quantity %>
                    <span class="visually-hidden">products</span>
                  </span>
                <% end %>
              <% end %>
            </button>
          <% end %>          
        </div>
    </div>
</nav>