<div class="row row-cols-1 row-cols-md-3 g-4">
	<% @products.each do |product| %>
  	<div class="col">
  	  	<div class="card h-100">
					<% if product.image.attached? %>
            <%= link_to product do %>
              <%= image_tag product.image, class: "card-img-top" %>
            <% end  %>
					<% end %>
  	    	<div class="card-body">
  	      	<h5 class="card-title"><%= product.title %></h5>
  	      	<p class="card-text">
              <%= number_to_currency(product.unit_price, strip_insignificant_zeros: true, delimiter: ".") %>
              <% if product.stock > 0  %>
                <%= form_for :cart, url: cart_path, method: :put do |f| %>
                  <%= f.hidden_field :product_id, value: product.id %>
                  <%= f.hidden_field :quantity, value: 1 %>
                  <%= f.submit "Add to cart" %>
                <% end %>
              <% else %>
                <%= button_tag "Out of Stock", disabled: true, class: "btn btn-secondary btn-sm"%>
              <% end %>
            </p>
  	    	</div>
  	  	</div>
  	</div>
	<% end %>
</div>



  