<section class="page-section">
  <div class="container">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-lower">Orders</span>
            </h2>
              <table class="table table-hover table-sm">
                <thead>
                  <tr>
                    <th scope="col"><%= sort_link(@q, :id, "Order number") %></th>
                    <th scope="col">Total product</th>
                    <th scope="col"><%= sort_link(@q, :total, "Total price") %></th>
                    <th scope="col"><%= sort_link(@q, :state, "State") %></th>
                    <th scope="col"><%= sort_link(@q, :user_id, "User") %></th>
                    <th scope="col">Options</th>
                  </tr>
                </thead>
                <tbody>
                  <% @orders.each do |order| %>
                    <tr>
                      <td><%= order.id %></td>
                      <td><%= order.quantity %></td>
                      <td><%= number_to_currency(order.total, strip_insignificant_zeros: true, delimiter: ".") %></td>
                      <td><%= order.state %></td>
                      <td><%= order.user.name %></td>
                      <% if order.state == "created" %>
                        <td><%= link_to 'Cart', cart_path %></td>
                        <td>
                          <%= link_to order, method: :delete, data: { confirm: 'Are you sure?' } do %>
                            <button class="btn btn-outline-dark btn-sm" type="button">Delete cart</button>
                          <% end %>
                        </td>
                      <% else %>
                        <td><%= link_to 'Order details', order %></td>
                      <% end %>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            <div class="pagination justify-content-center pagination-sm">
              <h5 class="m-4 text-center p-3">
                <span class="address" style="letter-spacing: 2px"><%= paginate @orders %></span>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> 