<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Order number</th>
      <th>Total product</th>
      <th>Total price</th>
      <th>State</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.quantity %></td>
        <td><%= number_to_currency(order.total, strip_insignificant_zeros: true, delimiter: ".") %></td>
        <td><%= order.state %></td>
        <td><%= order.user.name %></td>
        <% if order.state == "created" %>
          <td><%= link_to 'Cart', cart_path %></td>
          <td><%= link_to 'Delete cart', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
          <td><%= link_to 'Order details', order %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>