<h1>Order #<%= @order.id %></h1>

<p>
  <strong>Payment:</strong>
  <%= @order.payment.updated_at.strftime("%B %d, %Y") %>
</p>

<p>
  <%= render 'orderitems', order: @order %>
</p>

<p>
  <strong>Total:</strong>
  <%= number_to_currency(@order.total, strip_insignificant_zeros: true, delimiter: ".") %>
</p>

<%= link_to 'Back', orders_path %>
