<aside id="sidebar-cart">
	<main>
		<a href="#" class="close-button"><span class="close-icon">X</span></a>
		<h2>Shopping Bag <span class="count"><%= existing_order.quantity %></span></h2>
		<ul class="products">
      <% @order.products.each do |item| %>
			  <li class="product">
			  	<a href="#" class="product-link">
			  		<span class="product-image">
              <% if item.image.attached? %>
                  <%= image_tag item.image.variant(resize: "75x50"), alt: "#{item.title}" %>
				      <% end %>
			  		</span>
			  		<span class="product-details">
			  			<h3><%= item.title %></h3>
			  			<span class="qty-price">
			  				<span class="qty">
                  <%= pluralize(item.get_quantity(@order), 'Item') %>
			  				</span>
			  				<span class="price"><%= number_to_currency(item.unit_price, strip_insignificant_zeros: true, delimiter: ".") %></span>
			  			</span>
			  		</span>
			  	</a>
          <%= link_to remove_product_path(@order.id, item.id), method: :delete, class: "remove-button" do %>
            <span class="remove-icon">X</span>
          <% end %>
			  </li>
      <% end %>
		</ul>
		<div class="totals">
			<div class="subtotal">
				<span class="label">Total:</span> <span class="amount"><%= number_to_currency(@order.total, strip_insignificant_zeros: true, delimiter: ".") %></span>
			</div>
		</div>
		<div class="action-buttons">
			<a class="view-cart-button" href="#">Cart</a>
      <%= link_to "Checkout", mercado_pago_path(@order.id), method: :get, class: "checkout-button" %>
		</div>
	</main>
</aside>
<div id="sidebar-cart-curtain"></div>


