<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Product image:</strong>
  <%= image_tag @product.image.variant(resize: "50x50") %>
</p>

<div id="like-count">
<%= render 'products/likes', product: @product %>
</div>
<div id="like-link">
<%= render 'products/like_link', product: @product %>
</div>
<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @product.stock %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= number_to_currency(@product.unit_price, strip_insignificant_zeros: true, delimiter: ".") %>
</p>

<p>
  <strong>User:</strong>
  <%= @product.user.name %>
</p>

<% if product_owner(@product) %>
  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to "Delete", @product, method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>
  <%= link_to 'Back', products_path %>
